<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./Feature</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory suffix="Test.php">./Functional</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../app</directory>
        </include>
        <exclude>
            <directory>../app/templates</directory>
            <directory>../app/includes</directory>
        </exclude>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_TYPE" value="mariadb"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="jilo_test"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value=""/>
    </php>
</phpunit>
