.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    background-color: #777;
}

.menu-left, .menu-right {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-left li, .menu-right li {
    margin: 0 10px;
}

.menu-left a, .menu-right a {
    text-decoration: none;
    color: white;
}

.menu-left li a, .menu-right li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-left li a:hover, .menu-right li a:hover {
    background-color: #111;
}

.error {
    color: red;
    margin: 15px 0px 15px 0px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #333;
    font-weight: bold;
    font-size: 0.85em;
}

.notice {
    color: green;
    margin: 15px 0px 15px 0px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #333;
    font-weight: bold;
    font-size: 0.85em;
}

#main {
    width: 100%;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: #777;
    color: white;
    text-align: center;
    font-size: 0.85em;
    line-height: 30px;
}

#footer a {
    color: white;
}

/*
.results {
    margin-bottom: 50px;
}

.results table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.results table, th, td {
    border: 1px solid #ddd;
}
.results th, td {
    padding: 8px;
    text-align: left;
}
.results th {
    background-color: #f2f2f2;
}
.results p {
    text-align: center;
}
*/

.results-header {
    display: flex;
    justify-content: space-between;
}

.results-message {
    width: 25%;
}

.results-message, .results-filter {
    padding: 10px 10px 10px 10px;
}


.widget {
    border: 1px solid gray;
}


/* collapsing sidebar */
.toggle-sidebar-button {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 100;
    margin: 10px;
    height: 22px;
    width: 22px;
    padding-left: 2px;
    padding-top: 0px;
}
.sidebar-wrapper {
    position: relative;
    width: 275px;
    transition: width 0.5s ease;
    overflow-x: hidden;
}
.sidebar-wrapper.collapsed {
    width: 3em;
}
.sidebar-content {
    width: 250px;
    border: none;
}
.list-group-item i {
    margin-right: 10px;
    margin-left: -8px;
}

.main-content {
    transition: width: 0.5s ease;
    width: 80%; /* 75% */
}
.main-content.expanded {
    width: 95%; /* none */
}

.logo {
    height: 35px;
    margin-top: 10px;
}

.logo-link {
    border: 1px solid white;
    margin-top: 2px;
    margin-left: 2px;
    background-color: lightseagreen;
}

.sidebar-content a {
    text-decoration: none;
}
