.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    background-color: #777;
}

.menu-left, .menu-right {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-left li, .menu-right li {
    margin: 0 10px;
}

.menu-left a, .menu-right a {
    text-decoration: none;
    color: white;
}

.menu-left li a, .menu-right li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-left li a:hover, .menu-right li a:hover {
    background-color: #111;
}

.error {
    color: red;
    margin: 15px 0px 15px 0px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #333;
    font-weight: bold;
    font-size: 0.85em;
}

.notice {
    color: green;
    margin: 15px 0px 15px 0px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #333;
    font-weight: bold;
    font-size: 0.85em;
}

#main {
    width: 100%;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: #777;
    color: white;
    text-align: center;
    font-size: 0.85em;
    line-height: 30px;
}

#footer a {
    color: white;
}

#results table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
#results table, th, td {
    border: 1px solid #ddd;
}
#results th, td {
    padding: 8px;
    text-align: left;
}
#results th {
    background-color: #f2f2f2;
}
